
#chatContainer {
  height: 300px;
  width: 100px;
  border: 1px solid #100016;
  border-radius: 10px;
  /* margin: 1rem 1rem; */
  padding: 0.5rem;
  overflow: scroll;
}



.form-row {
  padding: 8px 0;
  display: inline-flex
}

.column-layout { 
  margin-top: 36px;
  padding: 12px;
  background-color: rgb(223, 210, 210);
  display: flex;
}

.column-item {
  padding: 0 16px;
}

.chat-container {
  
}
.world-map {
  flex: 2;
}

.column-chat {

}
