* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.container {
  width: 784px;
  height: 601px;
  display: flex;
  background-color: #fff;
  flex-direction: row; }

.display-2 {
  display: flex;
  width: 1407px;
  height: 586px;
  margin: 50px; }

.box-3 {
  flex-grow: 1.5; }

.box-4 {
  flex-grow: 1; }

.container-3 {
  width: 784px;
  height: 601px;
  flex-direction: row;
  text-align: center; }

.box {
  /**
    flex-grow: ;
    flex-shrink ;
    flex-bassis: ;
    **/
  flex-basis: auto; }

.box-1 {
  background-color: #fff;
  flex-grow: 2;
  margin-right: 20px;
  border-radius: 10px; }

.box-2 {
  background-color: #fff;
  flex-grow: 1;
  border-radius: 10px;
  margin: 10px; }

#chatContainer {
  height: 75vh;
  width: 100%;
  display: block;
  overflow: scroll; }

.message {
  display: block;
  margin: 20px;
  padding: 20px;
  background: #ccc;
  width: 100%;
  max-width: 700px;
  border-radius: 10px; }

.form {
  margin: 10px;
  text-align: center; }

.input {
  border-radius: 10px; }

.btn {
  padding: 0.5rem;
  background-color: #5fcefa;
  border: 1px solid #06b8ff;
  border-radius: 5px;
  color: #fff;
  font-weight: 600; }

.result {
  border-radius: 5px;
  overflow: auto; }
