<ul id="messages"></ul>
<div id="chatContainer"></div>
<div id="worldmap"></div> 
 {{!-- style="position: relative; width: 500px; height: 300px;" --}}
 {{!-- <h1>{{tweets}}</h1> --}}
<div id="pieChat" style="height: 370px; width: 100%;"></div>