<ul id="messages"></ul>
<div id="chatContainer"></div>
<div id="worldmap"></div> 
 {{!-- style="position: relative; width: 500px; height: 300px;" --}}
 {{!-- <h1>{{tweets}}</h1> --}}
<div class='hoverinfo tooltip'>
    <div>
        <h3>
            <span style='vertical-align:middle'>Nam</span>
            <img style="vertical-align:middle" height="70" width="70" src="https://pbs.twimg.com/profile_images/1247205226471284745/4rdcRWQR_normal.png">
            </h3>
    </div>
</div>