<ul id="messages"></ul>
<div id="chatContainer"></div>
<div id="worldmap"></div> 
<div id="realtimeChart" style="height: 370px; width: 500px 100%;"></div>
 {{!-- style="position: relative; width: 500px; height: 300px;" --}}
 {{!-- <h1>{{tweets}}</h1> --}}
<div id="pieChat" style="height: 370px; width: 500px 100%;"></div>

<form class="form-inline-1">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only"></label>
    <input type="text"  class="form-control-plaintext" id="text" value="Type some text">
  </div>
  <button type="button" class="btn btn-primary mb-2" id="button">Classify Text</button>
</form>

<form class="form-inline-2">
  <div class="form-group mb-3">
    <label for="staticEmail2" class="sr-only">wqeqweqweqw</label>
    <input type="text"  readonly class="" id="" value="">
  </div>
</form>